.tooltip-anchor {
  anchor-name: --tooltip-1-anchor;
}

.tooltip {
  margin: 0;
  inset: auto;
  position: absolute;
  position-anchor: --tooltip-1-anchor;
  opacity: 0;
  transition: display 1s, opacity 1s;
  /* progressive enchancment - transition works on newer browsers*/
  transition-behavior: allow-discrete;

  &:popover-open {
    display: flex;
    opacity: 1;

    /* progressive enchancment - transition works on newer browsers*/
    @starting-style {
      opacity: 0;
    }
  }
}

.position__bottom-center {
  /* This is how you add position fallbacks can add multiple comma separated values*/
  position-try-fallbacks: --top-center;
  inset: auto;
  top: anchor(bottom);
  left: anchor(center);
  transform: translate(-50%);
  margin-block-start: 10px;
}
.position__top-center {
  position-try-fallbacks: --bottom-center;
  inset: auto;
  bottom: anchor(top);
  left: anchor(center);
  transform: translate(-50%);
  margin-block-end: 10px;
}
.position__right-center {
  inset: auto;
  top: anchor(center);
  left: anchor(right);
  transform: translateY(-50%);
  margin-inline-start: 10px;
  position-try-fallbacks: --left-center;
}
.position__left-center {
  position-try-fallbacks: --right-center;
  inset: auto;
  top: anchor(center);
  right: anchor(left);
  transform: translateY(-50%);
  margin-inline-end: 10px;
}

/* this is how you define position fallbacks */
@position-try --left-center {
  inset: auto;
  top: anchor(center);
  right: anchor(left);
  transform: translateY(-50%);
  margin-inline-end: 10px;
}
@position-try --right-center {
  inset: auto;
  top: anchor(center);
  left: anchor(right);
  transform: translateY(-50%);
  margin-inline-start: 10px;
}
@position-try --bottom-center {
  inset: auto;
  top: anchor(bottom);
  left: anchor(center);
  transform: translate(-50%);
  margin-block-start: 10px;
}
@position-try --top-center {
  inset: auto;
  bottom: anchor(top);
  left: anchor(center);
  transform: translate(-50%);
  margin-block-end: 10px;
}
